@import './colors';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Comfortaa', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Raleway', sans-serif;
}

.header-img {
	position: relative;
	height: 300px;
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: 0 50%;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 22px;
	color: $header_color;
	word-spacing: 6px;
	letter-spacing: 2px;
	transform: translate(-50%, -50%);
	z-index: 1;

	h1 {
		background-image: linear-gradient(180deg, #35a8b3, #4047cc);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		text-transform: uppercase;
	}

	p {
		display: flex;
		justify-content: center;
	}
}

.header-bg {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 30px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.clock {
	position: relative;
	width: 250px;
	height: 250px;
	background-image: url('../img/clock.jpg');
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
	border: 2px solid black;
	overflow: hidden;

	.number {
		position: absolute;
		--rotation: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		transform: rotate(var(--rotation));
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.number1 {
		--rotation: 30deg;
	}
	.number2 {
		--rotation: 60deg;
	}
	.number3 {
		--rotation: 90deg;
	}
	.number4 {
		--rotation: 120deg;
	}
	.number5 {
		--rotation: 150deg;
	}
	.number6 {
		--rotation: 180deg;
	}
	.number7 {
		--rotation: 210deg;
	}
	.number8 {
		--rotation: 240deg;
	}
	.number9 {
		--rotation: 270deg;
	}
	.number10 {
		--rotation: 300deg;
	}
	.number11 {
		--rotation: 330deg;
	}
	.number12 {
		--rotation: 360deg;
	}

	.hand {
		--rotation: 30;
		position: absolute;
		bottom: 50%;
		left: 50%;

		transform-origin: bottom;
		transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
		background-color: black;
		border: 1px solid white;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		z-index: 10;
	}
	.second {
		width: 3px;
		height: 45%;
		background-color: red;
	}
	.minute {
		width: 7px;
		height: 40%;
		background-color: black;
	}
	.hour {
		width: 10px;
		height: 30%;
		background-color: black;
	}
}

.clock::after {
	content: '';
	position: absolute;
	background-color: black;
	z-index: 11;
	width: 15px;
	height: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

nav {
	position: sticky;
	top: 0;
	height: 60px;
	background-color: $nav_color;
	text-align: center;
	z-index: 1;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.nav-items {
	display: none;
}

.burger-icon {
	margin-top: 10px;
	margin-left: auto;
	padding: 0 25px;
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
	transition: color 0.4s;
}

.burger-icon:hover {
	color: $navitems_color;
}

@media (min-width: 768px) {
	.header-text {
		font-size: 28px;
		h1 {
			font-size: 60px;
		}
	}
	.burger-icon {
		display: none;
	}

	.nav-items {
		display: flex;
		justify-content: center;

		a {
			padding: 20px 30px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
			color: $navitems_color;
			transition: color 0.3s;
		}

		a:hover {
			color: $hover-color;
		}
	}
}

main {
	width: 100%;
	margin: 50px auto;
	z-index: 0;
}

// .fishes-main-text {
// 	display: flex;
// 	justify-content: center;
// 	text-align: center;
// 	margin: 100px;
// 	font-size: 40px;
// 	text-transform: uppercase;
// 	word-spacing: 6px;
// }

.fishes-list {
	position: relative;
	bottom: 20px;
	font-size: 26px;
	margin-top: 100px;
}

.fishes-header-text {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 35px;
	font-weight: bold;
	color: $navitems_color;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.fishes-text {
	margin: 100px;
	letter-spacing: 1px;
	text-align: center;
	img {
		float: right;
		transition: scale 0.5s;
	}

	img:hover {
		scale: 1.5;
	}
}

.item-border {
	border: solid;
	border-radius: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

footer {
	padding: 30px 10px;
	text-align: center;
	background-color: $nav_color;
	// position: sticky;
	// bottom: 0;
	// position: fixed;
	bottom: 0;
	width: 100%;
	// margin-top: 800px;
}

.contact-table {
	margin: 50px auto;
	font-size: 24px;

	td {
		padding: 20px 30px;
		word-spacing: 4px;
	}

	thead {
		td {
			font-size: 40px;
			font-weight: bold;
			color: $navitems_color;
		}
	}

	a {
		text-decoration: none;
		color: black;
	}
	i {
		transition: color 0.3s;
	}
	i:hover {
		color: $hover-color;
	}
	.odd {
		background-color: $nav-color;
	}
}

.aboutme {
	height: 200vh;
	width: 100%;
}

.imgg {
	height: 70%;
	width: 45%;
	margin-left: 50px;
}
.content {
	width: 100%;
	height: 70%;
	margin-top: 60px;
}
.paragraf_omnie {
	text-align: center;
	width: 55%;
	position: absolute;
	top: 90%;
	left: 23%;
	font-size: 30px;
}
.imgg_rigth {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.title {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	text-decoration: wavy;
	margin-top: 60px;
	color: rgb(118, 27, 27);
}

.biebrza_content {
	margin-top: -50px;
	width: 60%;
	height: 40%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.biebrza {
	height: 230px;
	width: 380px;
	border-radius: 40px;
	border: 4px solid rgb(118, 27, 27);
	box-shadow: 5px 5px 5px rgb(84, 20, 20);
	float: right;
	transition: width, height, 0.4s;
}
.biebrza:hover {
	height: 260px;
	width: 420px;
}

.biebrza_paragraf {
	font-size: 30px;
	width: 55%;
	position: absolute;
	top: 40px;
	left: 20px;
}

.my_fish {
	margin-top: 180px;
	width: 60%;
	height: 40%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.lin {
	height: 230px;
	width: 380px;
	border-radius: 40px;
	border: 4px solid rgb(118, 27, 27);
	box-shadow: 5px 5px 5px rgb(84, 20, 20);
	float: left;
	transition: width, height, 0.4s;
}
.lin:hover {
	height: 260px;
	width: 420px;
}

.first_fish {
	font-size: 30px;
	width: 55%;
	position: absolute;
	top: 40px;
	right: -20px;
}

.kanal {
	margin-top: 450px;
	width: 60%;
	height: 40%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.kanal_paragraf {
	font-size: 30px;
	width: 55%;
	position: absolute;
	top: 40px;
	left: 0px;
}

.kanal_img {
	height: 230px;
	width: 380px;
	border-radius: 40px;
	border: 4px solid rgb(118, 27, 27);
	box-shadow: 5px 5px 5px rgb(84, 20, 20);
	float: right;
	transition: width, height, 0.4s;
}
.kanal_img:hover {
	height: 260px;
	width: 420px;
}

.szczupak {
	margin-top: 730px;
	width: 60%;
	height: 40%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.szczupak_img {
	height: 230px;
	width: 380px;
	border-radius: 40px;
	border: 4px solid rgb(118, 27, 27);
	box-shadow: 5px 5px 5px rgb(84, 20, 20);
	float: left;
	transition: width, height, 0.4s;
}
.szczupak_img:hover {
	height: 260px;
	width: 420px;
}

.szczupak_paragraf {
	font-size: 30px;
	width: 55%;
	position: absolute;
	top: 40px;
	right: -20px;
}

// .tlo{
// 	height: 100vh;
// 	width: 100vw;
// 	// background-color: lightgray;
// }

.akcesoria {
}

.rzecz {
	margin-top: 50px;
	margin-bottom: 100px;
	height: 40%;
	width: 80%;
	margin-left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	border: 1px solid black;
	background-color: rgb(212, 212, 255);
	box-shadow: 10px 10px 10px rgb(119, 158, 255);
	border-radius: 30px;
	padding: 20px;
	text-align: center;
	overflow: hidden;
}

.zdjecia_wedki {
	margin-left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 20%;
}

.rzecz_title {
	text-align: center;
	margin-bottom: 20px;
	color: brown;
}

.zdjecia_kolowrotek {
	margin-left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 200px;
	float: right;
	transition: width, height .5s;
}

.shimanologo {
	margin-left: 10%;
	width: 250px;
	height: 250px;
	float: left;
}

.gallerycontent{
	margin-top: 50px;
	margin-left: 50%;
	margin-bottom: 50px;
	transform: translateX(-50%);
	width: 90%;
	background: #eee;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
}

.photo{
	margin: 10px 0;
	width: 300px;
	background: white;
	padding: 10px;
	opacity: 0.7;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	transition: 0.4s all linear;
	z-index: 1;
	transform: rotate(5deg);
}

.photo img{
	flex-basis: 100%;
	width: 250px;
}

.photo figcaption{
	margin-top: 10px;
	font-weight: bold;
}

.photo:nth-child(even){
	transform: rotate(-2deg) scale(0.8);
}

.photo:hover{
	opacity: 1;
	transform: scale(1.5);
	z-index: 2;
}

